<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Minimal Todo</title>
  <meta name="description" content="An extremely simple TODO App">
  <meta name="author" content="Beshr Kayali">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">

  <link rel="stylesheet" href="{% static "todo/todoapp.css" %}">
</head>
<body>
  <div class="loading">Loading...</div>
  <div class="container">
    <div class="row">
      <div class="one column"></div>
      <div class="eleven columns app-container">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.12/jstorage.min.js"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
